In [4]:
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv("logo_plots.csv")
print(data)

    Position    A     C    G    T
0        125  495     6    0  336
1        124  399     0  142  278
2        123    2   502  394    0
3        122  335   305  165  174
4        121  348   233  175    1
5        120    3   548  412    0
6        119  332   212  201  142
7        118  476   259  291    1
8        117    4  1104  450    4
9        593  121    98  137    1
10       592  196   230    2    0
11       591  379     3   23    1
12       590  154    24  177   39
13       589    0   226    6  364
14       588   11   334   15    0
15       587  164   187   32    0
16       586    0   180  234    1
17       585    0   152    9   65

In [13]:
data['A'][0]

495

In [23]:
data['total']= sum(data['A'][i], data['B'][i], data['C'][i])

SyntaxError: invalid syntax (1628216897.py, line 1)

In [22]:
data

    Position    A     C    G    T                                  total
0        125  495     6    0  336  <function <lambda> at 0x7fbfab639990>
1        124  399     0  142  278  <function <lambda> at 0x7fbfab639990>
2        123    2   502  394    0  <function <lambda> at 0x7fbfab639990>
3        122  335   305  165  174  <function <lambda> at 0x7fbfab639990>
4        121  348   233  175    1  <function <lambda> at 0x7fbfab639990>
5        120    3   548  412    0  <function <lambda> at 0x7fbfab639990>
6        119  332   212  201  142  <function <lambda> at 0x7fbfab639990>
7        118  476   259  291    1  <function <lambda> at 0x7fbfab639990>
8        117    4  1104  450    4  <function <lambda> at 0x7fbfab639990>
9        593  121    98  137    1  <function <lambda> at 0x7fbfab639990>
10       592  196   230    2    0  <function <lambda> at 0x7fbfab639990>
11       591  379     3   23    1  <function <lambda> at 0x7fbfab639990>
12       590  154    24  177   39  <function <lambda> at 0x7fbfab639990>
13       589    0   226    6  364  <function <lambda> at 0x7fbfab639990>
14       588   11   334   15    0  <function <lambda> at 0x7fbfab639990>
15       587  164   187   32    0  <function <lambda> at 0x7fbfab639990>
16       586    0   180  234    1  <function <lambda> at 0x7fbfab639990>
17       585    0   152    9   65  <function <lambda> at 0x7fbfab639990>